# default section for variable definitions

DN                 = ca_dn
DISTINGUISHED_NAME = ${ENV::DN}

# certificate request configuration
[ req ]
default_bits       = 2048
default_md         = sha256
encrypt_key        = no
prompt             = no
string_mask        = utf8only
distinguished_name = localhost

[ localhost ]
C  = IT
ST = State
L  = City
O  = Organization
OU = OrgUnit
CN = localhost

[ ca_dn ]
C  = IT
ST = Rome 
L  = Rome
O  = UniversalBit
OU = unbt
CN = localhost

# certificate authority configuration
[ ca_ext ]
authorityKeyIdentifier = keyid, issuer
subjectKeyIdentifier   = hash
basicConstraints       = critical, CA:TRUE, pathlen:1
keyUsage               = critical, keyCertSign, cRLSign

# another distinguished name
[ other_dn ]
C  = US
ST = California
L  = Los Angeles
O  = Organization
OU = Unit
CN = Name 2

